replicaCount: 1

image:
  repository: quay.io/keycloak/keycloak
  tag: "26.4.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8180

env:
  - name: KC_HTTP_ENABLED
    value: "true"
  - name: KC_HOSTNAME_STRICT
    value: "false"
  - name: KC_PROXY
    value: "edge"


admin:
  username: user
  password: password

# Keycloak command arguments
# Use "start-dev" for development mode
command: "start-dev"

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 512Mi


