# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

#this act as key and value and same will be accessed by the eazybank-common heml chart.

deploymentName: gatewayserver-deployment
serviceName: gatewayserver
appLabel: gatewayserver
appName: gatewayserver

replicaCount: 1

image:
  repository: eazybytes/gatewayserver #image name
  tag: s11 #image tag

containerPort: 8072 #container port

service:
  type: LoadBalancer #as we don't want to expose the gatewayserver MS outside of kubernetes cluster hence we are using service type as clusterIP
  port: 8072 #
  targetPort: 8072

#required enviornment varaibles for gatewayserver MS. as we are checking if condition in eazybank-common before passing the environment variable to the MS.
appname_enabled: true
profile_enabled: true
config_enabled: true
# eureka_enabled: true
discovery_enabled: true
resouceserver_enabled: true #keycloak related. as only gatewayserver need it. and all other MS does not need it.
otel_enabled: true

kafka_enabled: false
