{{- define "common.deployment" -}}   {{/* #name of this helm file, will be used to refer this file using this name common.deployment */}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.deploymentName }} {{/* injecting values */}}
  labels:
    app: {{ .Values.appLabel }} {{/* injecting values */}}
spec:
  replicas: {{ .Values.replicaCount }} {{/* injecting values */}}
  selector:
    matchLabels:
      app: {{ .Values.appLabel }} {{/* injecting values */}}
  template:
    metadata:
      labels:
        app: {{ .Values.appLabel }} {{/* injecting values */}}
    spec:
      containers:
      - name: {{ .Values.appLabel }} {{/* injecting values */}}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}" {{/* injecting values */}}
        ports:
        - containerPort: {{ .Values.containerPort }}
          protocol: TCP
        env: {{/* as we have environment variable as well, here we are trying to inject same after this line */}}
        {{- if .Values.appname_enabled }} {{/* inside the helf we can write if condition. as we can see here also value will be injected and means that if value is trye then it'll execute all below line till it recived the end command line. and if is false then it'll not execute the below lines till end command */}}
        - name: SPRING_APPLICATION_NAME
          value: {{ .Values.appName }}
        {{- end }} {{/* end of above if condition mentioned 2 above like pranthesis we use. */}}
                    {{/* we used if because there might be some MS where we don't want to pass these environment variables. so we'll just pass false and environment variable will be not injected. */}}
        {{- if .Values.profile_enabled }} {{/* in some microservice we want to use the profile, this is for that */}}
        - name: SPRING_PROFILES_ACTIVE
          valueFrom: 
            configMapKeyRef:
              name: {{ .Values.global.configMapName }}
              key: SPRING_PROFILES_ACTIVE
        {{- end }}
        {{- if .Values.config_enabled }}
        - name: SPRING_CONFIG_IMPORT
          valueFrom: 
            configMapKeyRef:
              name: {{ .Values.global.configMapName }}
              key: SPRING_CONFIG_IMPORT
        {{- end }}
        {{/*{{- if .Values.eureka_enabled }}
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          valueFrom: 
            configMapKeyRef:
              name: {{ .Values.global.configMapName }}
              key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        {{- end }}*/}}
        {{- if .Values.discovery_enabled }}
        - name: SPRING.CLOUD.KUBERNETES.DISCOVERY.DISCOVERY-SERVER-URL
          valueFrom: 
            configMapKeyRef:
              name: {{ .Values.global.configMapName }}
              key: SPRING.CLOUD.KUBERNETES.DISCOVERY.DISCOVERY-SERVER-URL
        {{- end }}
        {{- if .Values.resouceserver_enabled }}
        - name: SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK-SET-URI
          valueFrom: 
            configMapKeyRef:
              name: {{ .Values.global.configMapName }}
              key: SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK-SET-URI
        {{- end }}
        {{- if .Values.otel_enabled }}
        - name: JAVA_TOOL_OPTIONS
          valueFrom: 
            configMapKeyRef:
              name: {{ .Values.global.configMapName }}
              key: JAVA_TOOL_OPTIONS
        - name: OTEL_EXPORTER_OTLP_ENDPOINT
          valueFrom: 
            configMapKeyRef:
              name: {{ .Values.global.configMapName }}
              key: OTEL_EXPORTER_OTLP_ENDPOINT
        - name: OTEL_METRICS_EXPORTER
          valueFrom: 
            configMapKeyRef:
              name: {{ .Values.global.configMapName }}
              key: OTEL_METRICS_EXPORTER
        - name: OTEL_LOGS_EXPORTER
          valueFrom:
            configMapKeyRef:
              name: {{ .Values.global.configMapName }}
              key: OTEL_LOGS_EXPORTER
        - name: OTEL_SERVICE_NAME
          value: {{ .Values.appName }}
        {{- end }}
        {{- if .Values.kafka_enabled }}
        - name: SPRING_CLOUD_STREAM_KAFKA_BINDER_BROKERS
          valueFrom: 
            configMapKeyRef:
              name: {{ .Values.global.configMapName }}
              key: SPRING_CLOUD_STREAM_KAFKA_BINDER_BROKERS
        {{- end }}
        
{{- end -}}